WebControl/Service References/DataServiceReference/DataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfDataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfDataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfItemSql">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemSql" nillable="true" type="tns:ItemSql" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemSql" nillable="true" type="tns:ArrayOfItemSql" />
  <xs:complexType name="ItemSql">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemSqlSimple">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataType" type="xs:short" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FormatValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaxValue" type="xs:double" />
          <xs:element minOccurs="0" name="MinValue" type="xs:double" />
          <xs:element minOccurs="0" name="TimeOut" type="xs:int" />
          <xs:element minOccurs="0" name="Trend" type="xs:boolean" />
          <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ItemSql" nillable="true" type="tns:ItemSql" />
  <xs:complexType name="ItemSqlSimple">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemSqlTrend">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeviceTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Quality" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ItemSqlSimple" nillable="true" type="tns:ItemSqlSimple" />
  <xs:complexType name="ItemSqlTrend">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataValue" type="xs:double" />
      <xs:element minOccurs="0" name="SqlTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemSqlTrend" nillable="true" type="tns:ItemSqlTrend" />
  <xs:complexType name="ArrayOfItemSqlSimple">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemSqlSimple" nillable="true" type="tns:ItemSqlSimple" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemSqlSimple" nillable="true" type="tns:ArrayOfItemSqlSimple" />
  <xs:complexType name="ItemSqlTrends">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxValue" type="xs:double" />
      <xs:element minOccurs="0" name="MinValue" type="xs:double" />
      <xs:element minOccurs="0" name="Records" nillable="true" type="tns:ArrayOfItemSqlTrend" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemSqlTrends" nillable="true" type="tns:ItemSqlTrends" />
  <xs:complexType name="ArrayOfItemSqlTrend">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemSqlTrend" nillable="true" type="tns:ItemSqlTrend" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemSqlTrend" nillable="true" type="tns:ArrayOfItemSqlTrend" />
  <xs:complexType name="ArrayOfTIDELOGEx">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TIDELOGEx" nillable="true" type="tns:TIDELOGEx" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTIDELOGEx" nillable="true" type="tns:ArrayOfTIDELOGEx" />
  <xs:complexType name="TIDELOGEx">
    <xs:sequence>
      <xs:element minOccurs="0" name="Car" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="KMAZS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Liters" type="xs:double" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SqlTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TDTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TankDensity" type="xs:double" />
      <xs:element minOccurs="0" name="TankLevel" type="xs:double" />
      <xs:element minOccurs="0" name="TankTemperature" type="xs:double" />
      <xs:element minOccurs="0" name="TankTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TankVolume" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TIDELOGEx" nillable="true" type="tns:TIDELOGEx" />
</xs:schema>