WebControl/Service References/DataServiceReference/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5555/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfDataService" />
  <xs:import schemaLocation="http://localhost:5555/DataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:5555/DataService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="GetItemsFull">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsFullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfDataService" minOccurs="0" name="GetItemsFullResult" nillable="true" type="q1:ArrayOfItemSql" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsShort">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsShortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfDataService" minOccurs="0" name="GetItemsShortResult" nillable="true" type="q2:ArrayOfItemSqlSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsShortByDataNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dataNames" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsShortByDataNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfDataService" minOccurs="0" name="GetItemsShortByDataNamesResult" nillable="true" type="q4:ArrayOfItemSqlSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrends">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="dateBegin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="timePeriod" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfDataService" minOccurs="0" name="GetTrendsResult" nillable="true" type="q5:ItemSqlTrends" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSqlCurrentTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSqlCurrentTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSqlCurrentTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateTimeOffset">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateTimeOffsetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetDateTimeOffsetResult" type="q6:DateTimeOffset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClientInfoFull">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="browserInformation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClientInfoFullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetClientInfoFullResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClientInfoShort">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClientInfoShortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetClientInfoShortResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMTBTIDELOGs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateBegin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMTBTIDELOGsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfDataService" minOccurs="0" name="GetMTBTIDELOGsResult" nillable="true" type="q7:ArrayOfTIDELOGEx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServiceInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>